* {
  box-sizing: border-box;
  background: #E5E5E5;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}


/* Header  */

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 34px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  color: #CC9933;
  background-image: url('/1 HW/img/head/Vector.png');
  background-position: left center;
  background-size: 21px 12px;
  background-repeat: no-repeat;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #FFFFFF;
  border-radius: 15px;
}

.header-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-nav-item {
  margin-left: 45px;
}


.header-buttom-list {
  display: flex;
  align-items: center;
}

.header-buttom-item {
  margin-right: 45px;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
}


/* Hero */

.section-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-hero-list {
  display: flex;
  flex-wrap: wrap;
}

.section-hero-item {
  max-width: 573px;
  max-height: 258px;
  margin-bottom: 24px;
  border-radius: 15px;
}

.section-hero-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.section-hero-item-1 {
  flex: 1 1 25%;
}

.section-hero-item-2 {
  flex: 1 1 75%;
}

.section-hero-item-3 {
  flex: 1 1 25%;
}


/* Service */

.section-service-list {
  display: flex;
  flex-wrap: wrap;
}

.section-service-item {
  flex: 0 1 50%;
  max-width: 573px;
  max-height: 258px;
  margin-bottom: 24px;
  border-radius: 15px;
}

.section-service-item:not(:nth-child(2n)) {
  margin-right: 24px;
}


/* Aantages */

.section-advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.section-advantages-item {
  flex: 0 1 25%;
  max-width: 276px;
  max-height: 276px;
  margin-bottom: 22px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.section-advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}


/* price */

.section-price-list {
  display: flex;
  flex-wrap: wrap;
}

.section-price-item {
  flex: 0 1 33%;
  max-width: 374px;
  max-height: 440px;
  margin-bottom: 24px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.section-price-item:not(:nth-child(3n)) {
  margin-right: 22px;
}
